# Virtual environment
.venv/

# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Ruff
.ruff_cache/

# Claude
.claude/

# Test files
/test_main.http

# OS
Thumbs.db
Desktop.ini
.DS_Store


